@use "sass:map";
@use "sass:math";

@function vw($px, $base: 375) {
  $ratio: math.div($px, $base) * 100;
  @if $px < 0 {
    @return unquote("max(#{$px}px, #{$ratio}vw)");
  } @else {
    @return unquote("min(#{$px}px, #{$ratio}vw)");
  }
}

$main-color: #9ed0e0;
$text-color: #4a3636;
$color-key1: #67b0c7;
$color-key2: #cce1e4;
$color-key3: #e9f6f8;

$font-family-ja1: "Noto Sans JP", sans-serif;
$font-family-ja2: "Kiwi Maru", serif;
$font-family-en1: "Courgette", cursive;
$font-family-en2: "Josefin Sans", sans-serif;

$header-height: vw(64);

$breakpoints: (
  sm: "screen and (max-width: 899px)",
  md: "screen and (min-width: 600px)",
  lg: "screen and (min-width: 900px)",
  xl: "screen and (min-width: 1200px)",
);

@mixin mq($breakpoint: lg) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

body {
  font-family: $font-family-ja1;
  color: $text-color;
  background-color: $color-key3;
  font-size: 12px;
  line-height: 1.6;
  font-weight: 400;

  &.is-modal-open {
    overflow: hidden;
  }
}

@include mq(sm) {
  .hidden-sm {
    display: none !important;
  }
}

@include mq(md) {
  .hidden-md {
    display: none !important;
  }
}

@include mq(lg) {
  .hidden-lg {
    display: none !important;
  }
  .open-sm {
    display: block !important;
  }
}

@include mq(xl) {
  .hidden-xl {
    display: none !important;
  }
}

.inner {
  max-width: calc(600px + 20px * 2);
  margin-inline: auto;
  padding-inline: 20px;

  @include mq(lg) {
    max-width: calc(1024px + 30px * 2);
    padding-inline: 30px;
  }
}

.button {
  display: inline-block;
  padding: vw(6) vw(24) vw(8) vw(24);
  width: max-content;
  height: vw(40);
  text-align: center;
  font-size: vw(16);
  font-weight: 700;
  border-radius: vw(40);
  border: 2px solid $text-color;
  background: #fff;
  box-shadow: 0 4px 0 0 $text-color;
  transition: background-color 0.3s;

  @include mq(lg) {
    padding: 10px 40px 12px;
    height: 56px;
    font-size: 20px;
  }

  &:hover {
    background-color: #ffee56;
  }
}

.heading {
  text-align: center;

  &__icon {
    width: vw(37);
    margin-inline: auto;
    padding: 8px 4px;

    @include mq(lg) {
      width: 48px;
    }
  }

  &__en {
    margin-top: vw(6);
    font-family: $font-family-en1;
    font-size: vw(16);
    line-height: 1.25;

    @include mq(lg) {
      font-size: 20px;
      margin-top: 8px;
    }
  }

  &__ja {
    display: inline-block;
    margin-top: vw(6);
    padding-bottom: vw(6);
    font-family: $font-family-ja2;
    font-size: vw(20);
    font-weight: 500;
    border-bottom: #ffee56 6px solid;
    line-height: 1.25;

    @include mq(lg) {
      font-size: 32px;
      margin-top: 8px;
      padding-bottom: 10px;
    }
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: #fff;
}

.header__inner {
  min-width: stretch;
  height: $header-height;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-block: 0;
  padding-inline: 20px;
}

.header__logo {
  position: relative;
  z-index: 1;
  a {
    img {
      width: vw(210);
      display: block;

      @include mq(lg) {
        width: 183px;
      }
    }
  }
}

.header__nav {
  display: none;
  gap: 16px;

  @include mq(xl) {
    display: flex;
  }
}

.header__lists {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__list {
}

.header__button {
}

.header-link {
}

.header-open {
  @include mq(xl) {
    display: none;
  }
}

.drawer-icon {
  width: vw(32);
  height: vw(24);
  position: relative;

  .drawer-icon__bar {
    position: absolute;
    left: 0;
    width: vw(32);
    height: vw(3);
    background: $text-color;
    border-radius: 3px;
    transition:
      top 0.4s,
      transform 0.4s,
      width 0.4s;

    @media (max-width: 374.98px) {
      transition: none;
    }

    &.long {
      top: 0;
      width: vw(25);
    }

    &.short {
      top: 0;
      left: auto;
      right: 0;
      width: vw(5);
    }
  }

  & > .drawer-icon__bar-block + .drawer-icon__bar {
    top: vw(11);
  }

  & > .drawer-icon__bar:last-child {
    top: vw(22);
  }

  &.is-checked {
    .long,
    .short {
      top: vw(11);
      transform: rotate(45deg);
    }

    .long {
      width: vw(32);
    }

    & > .drawer-icon__bar:last-child {
      top: vw(11);
      transform: rotate(-45deg);
    }

    .short {
      opacity: 0;
      transform: translateX(-3px) rotate(45deg);
    }

    .drawer-icon__bar-block + .drawer-icon__bar {
      opacity: 0;
    }
  }
}

.drawer-content {
  background: #fff;
  width: 100%;
  height: calc(100% - $header-height);
  position: fixed;
  top: $header-height;
  left: 0;
  z-index: 9;
  padding: 82px 114px;
  transform: translateY(-100%);
  transition: transform 0.4s;

  &.is-checked {
    transform: translateY(0);
  }
}

.drawer-content__lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.drawer-content-link {
  font-size: 14px;
}

.drawer-content__button {
  margin-top: 40px;
  text-align: center;
}

.fv {
  position: relative;
}

.fv__bg-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: vw(554);
  overflow: hidden;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;

  @include mq(lg) {
    height: 740px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.fv__inner {
  position: relative;
  width: 100%;
  max-width: calc(335px + 20px * 2);
  margin-right: auto;
  margin-left: auto;
  padding-top: vw(17);

  @include mq(lg) {
    max-width: calc(1512px - 332px * 2);
    padding-inline: 0px;
    padding-top: 34px;
  }
}

.fv__lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: vw(20);
  max-width: calc(375px - 20px * 2);
  margin-inline: auto;

  @include mq(lg) {
    gap: 24px;
    max-width: calc(1512px - 496px * 2);
  }
}

.fv__message {
  font-family: $font-family-ja2;
  font-size: vw(14);
  line-height: 1.25;
  text-align: center;

  @include mq(lg) {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.25;
  }
}

.fv__title {
  img {
    display: block;
    width: 100%;
    margin-inline: auto;

    @include mq(lg) {
    }
  }
}

.fv__wrap {
  position: relative;
  margin-top: vw(10);
  height: vw(522);

  @include mq(lg) {
    height: 560px;
  }
}

.fv__huki {
  position: absolute;
  top: vw(7);
  width: vw(142);
  max-width: 142px;

  @include mq(lg) {
    top: 0px;
    left: 37px;
    width: 244px;
    max-width: 100%;
  }
  img {
    width: 100%;
    display: block;
  }
}

.fv__present {
  position: absolute;
  top: vw(0);
  right: vw(25);
  width: vw(110);
  max-width: 110px;

  @include mq(lg) {
    top: 17px;
    right: 127px;
    max-width: 100%;
    width: 180px;
  }
  img {
    width: 100%;
    display: block;
  }
}

.fv__food {
  position: absolute;
  bottom: 0;
  left: 0;
  width: vw(86);
  max-width: 86px;
  z-index: 4;

  @include mq(lg) {
    bottom: 0;
    left: 0;
    width: 202px;
    max-width: 202px;
  }
  img {
    width: 100%;
    display: block;
  }
}

.fv__smartphone {
  position: absolute;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
  width: vw(200);
  bottom: vw(11);

  @include mq(lg) {
    bottom: 17px;
    width: 250px;
  }
  img {
    display: block;
    width: 100%;
  }
}

.fv__animal1 {
  position: absolute;
  bottom: vw(58);
  right: 0;
  width: vw(62);
  max-width: 62px;
  z-index: 3;

  @include mq(lg) {
    bottom: 61px;
    right: 63px;
    width: 170px;
    max-width: 170px;
  }
  img {
    width: 100%;
    display: block;
  }
}

.fv__animal2 {
  position: absolute;
  bottom: 0px;
  right: vw(9);
  width: vw(98);
  max-width: 98px;
  z-index: 4;

  @include mq(lg) {
    right: 0px;
    bottom: -44px;
    width: 233px;
    max-width: 233px;
  }
  img {
    width: 100%;
    display: block;
  }
}

.about {
  position: relative;
  padding-top: vw(32);
  overflow: hidden;

  @include mq(lg) {
    padding-top: 80px;
  }
}

.about__inner {
  position: relative;
  z-index: 1;
  margin-bottom: 178px;
  margin-inline: auto;
  max-width: vw(375);

  @include mq(md) {
    max-width: 500px;
  }
  @include mq(lg) {
    max-width: 640px;
    margin-bottom: 258px;
  }
  @include mq(xl) {
    max-width: 908px;
  }
}

.about__deco-patern {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  display: none;

  @include mq(lg) {
    display: block;
    top: -20px;
    left: calc(50% - 525px);
  }

  @include mq(xl) {
    left: calc(50% - 777px);
  }

  img {
    width: 100%;
    display: block;
  }
}

.about__deco-ropeway {
  position: absolute;
  top: vw(390);
  left: vw(-130);
  width: vw(200);
  z-index: 0;

  @include mq(lg) {
    top: 74px;
    left: calc(50% - 835px);
    width: 480px;
    z-index: 1;
  }

  @include mq(xl) {
    left: calc(50% - 1095px);
  }

  img {
    display: block;
    width: 100%;
  }
}

.about__deco-stairs {
  position: absolute;
  top: vw(565);
  left: calc(50% - 50vw - 55px);
  width: vw(216);
  z-index: 0;

  @include mq(md) {
    top: 420px;
    width: 355px;
    left: calc(50% - 50vw - 98px);
  }

  @include mq(lg) {
    top: 305px;
    left: calc(50% - 575px);
    width: 427px;
  }

  @include mq(xl) {
    left: calc(50% - 860px);
  }

  img {
    display: block;
    width: 100%;
    mask-image: linear-gradient(to bottom, #000 70%, transparent 81%);

    @include mq(lg) {
      mask-image: none;
    }
  }
}

.about__deco-pawpads {
  position: absolute;
  top: vw(-10);
  right: vw(0);
  width: vw(54);
  z-index: 0;

  @include mq(md) {
    top: -20px;
    right: -10px;
  }

  @include mq(lg) {
    top: -65px;
    width: 70px;
    right: -50px;
  }

  @include mq(xl) {
    top: -80px;
    width: 100px;
    right: calc(50% - 590px);
  }
}

.about__deco-harbor {
  position: absolute;
  top: vw(265);
  right: vw(-130);
  width: vw(200);
  z-index: 0;

  @include mq(lg) {
    top: 73px;
    right: calc(50% - 840px);
    width: 480px;
  }

  @include mq(xl) {
    right: calc(50% - 1040px);
  }

  img {
    display: block;
    width: 100%;
  }
}

.about__deco-path {
  position: absolute;
  top: 0;
  right: 0;
  width: 874px;
  z-index: 0;
  display: none;

  @include mq(lg) {
    display: block;
    top: 607px;
    right: calc(50% - 900px);
  }

  @include mq(xl) {
    right: calc(50% - 1322px);
  }

  img {
    width: 100%;
  }
}

.about__deco-goods {
  position: absolute;
  top: vw(720);
  right: vw(20);
  width: vw(169);
  z-index: 0;

  @include mq(md) {
    top: 730px;
    right: -105px;
    width: 260px;
  }

  @include mq(lg) {
    top: 601px;
    right: calc(50% - 500px);
    width: 308px;
  }

  @include mq(xl) {
    right: calc(50% - 682px);
  }

  img {
    display: block;
    width: 100%;
  }
}

.about__deco-arrow {
  position: absolute;
  left: 50%;
  z-index: 0;
  transform: translateX(-50%);
  top: vw(706);
  width: vw(100);

  @include mq(md) {
    top: 758px;
  }

  @include mq(lg) {
    top: 822px;
  }

  @include mq(xl) {
    top: 826px;
  }
}

.about__watermark {
  position: absolute;
  left: 50%;
  z-index: 0;
  transform: translateX(-50%);
  top: vw(850);
  width: vw(355);

  @include mq(md) {
    top: 898px;
  }
  @include mq(lg) {
    top: 1000px;
    width: 770px;
  }

  img {
    width: 100%;
  }
}

.about__card {
  position: relative;
  z-index: 2;
  width: 100%;
  margin-inline: auto;
  padding: vw(40) vw(20);
  background-color: #fff;
  border-radius: 24px;
  text-align: center;

  @include mq(lg) {
    padding: 40px 20px 36px 20px;
    border-radius: 40px;
  }

  @include mq(xl) {
    padding: 40px 114px;
  }
}

.about__head {
  position: relative;
  width: 100%;
}

.about__head-photo {
  position: absolute;
  top: vw(-10);
  width: vw(80);
  z-index: 1;

  @include mq(lg) {
    top: 0px;
    width: 146px;
  }

  &:first-child {
    left: calc(50% - #{vw(135)});

    @include mq(lg) {
      left: calc(50% - 338px);
    }
  }

  &:last-child {
    right: calc(50% - #{vw(148)});

    @include mq(lg) {
      right: calc(50% - 340px);
    }
  }
}

.about__body {
  @include mq(md) {
    margin-top: 24px;
    font-size: 14px;
  }
  @include mq(lg) {
    margin-top: 32px;
    font-size: 16px;
  }

  p + p {
    margin-top: vw(21);

    @include mq(lg) {
      margin-top: 27px;
    }
  }

  span {
    font-weight: 700;
  }
}

.about__lead {
  margin-top: vw(24);
  font-size: vw(14);
  font-weight: 700;

  @include mq(md) {
    font-size: 16px;
  }
}

.about__present {
  margin-top: vw(32);
  font-size: vw(14);
  border-bottom: $main-color 2px dashed;
  width: fit-content;
  display: inline-block;
  padding-bottom: vw(6);

  @include mq(lg) {
    margin-top: 44px;
    font-size: 20px;
    padding-bottom: 10px;
  }

  p {
    font-weight: 700;
  }
}

.about__button {
  margin-top: vw(24);
  padding-bottom: 4px;

  @include mq(lg) {
    margin-top: 32px;
  }
}

.about__slider {
  overflow: hidden;

  .swiper-wrapper {
    transition-timing-function: linear !important;
  }

  .swiper-slide {
    width: vw(100);
    height: auto;
    border-radius: 8px;
    overflow: hidden;

    @include mq(lg) {
      width: 200px;
    }

    img {
      display: block;
      width: 100%;
    }
  }
}

.how-to-enter {
  margin-top: vw(32);
  overflow-x: clip;

  @include mq(lg) {
    margin-top: 88px;
  }

  @include mq(xl) {
    margin-top: 60px;
  }
}

.how-to-enter__inner {
  padding-top: vw(32);
  position: relative;

  @include mq(md) {
    max-width: 500px;
  }

  @include mq(lg) {
    max-width: 1512px;
    padding-inline: 20px;
  }

  @include mq(xl) {
    padding-top: 60px;
    padding-inline: 36px;
  }

  .heading {
    &__icon {
      padding: 0;
    }

    &__ja {
      border-bottom: #ffee56 6px solid;
    }
  }
}

.how-to-enter__steps {
  margin-top: vw(32);
  display: flex;
  flex-direction: column;
  gap: vw(34);
  text-align: center;
  justify-content: center;
  position: inherit;
  z-index: 1;

  @include mq(lg) {
    flex-direction: row;
    gap: 7px;
  }

  @include mq(xl) {
    margin-top: 40px;
    gap: 32px;
  }
}

.step {
  position: relative;
  padding-bottom: vw(16);

  @include mq(lg) {
    flex: 1 1 0;
    max-width: 294px;
    padding-bottom: 0;
  }

  @include mq(xl) {
    max-width: 320px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: vw(7);
    height: vw(34);
    background: url(../img/sp/how-line.png) no-repeat center / contain;
    z-index: 3;

    @include mq(lg) {
      top: 150px;
      left: auto;
      right: -25px;
      transform: initial;
      width: 70px;
      height: 16px;
      background: url(../img/how-line.png) no-repeat center / contain;
    }

    @include mq(xl) {
      width: 113px;
      height: 24px;
      top: 204px;
      right: -48px;
    }
  }

  &:nth-child(2) {
    @include mq(lg) {
      margin-top: 50px;
    }

    @include mq(xl) {
      margin-top: 69px;
    }

    &::after {
      @include mq(lg) {
        top: 100px;
        left: auto;
        right: -25px;
      }

      @include mq(xl) {
        top: 135px;
        right: -57px;
      }
    }
  }

  &:last-child::after {
    display: none;
  }

  .step__circle {
    width: vw(196);
    margin-inline: auto;

    @include mq(md) {
      width: 246px;
    }

    @include mq(lg) {
      width: calc(257.25px / 294px * 100%);
    }

    img {
      width: 100%;
    }
  }

  .step__title {
    margin-top: vw(16);
    margin-inline: auto;
    font-size: vw(16);
    font-weight: 700;
    line-height: 1.6;

    @include mq(xl) {
      font-size: 20px;
    }

    span {
      font-size: 24px;
      font-weight: 700;
    }
  }

  .step__text {
    margin-top: vw(16);

    @include mq(md) {
      font-size: 14px;
    }

    @include mq(xl) {
      font-size: 16px;
    }

    span {
      font-weight: 700;
      line-height: 1.6;
    }
  }

  .step__follow {
    display: inline-block;
    margin-top: vw(16);
    padding: vw(8) vw(12);
    background: #fff;
    font-size: vw(14);
    line-height: 1.6;

    @include mq(xl) {
      font-size: 16px;
    }

    a {
      font-weight: 700;
    }

    img {
      margin-right: vw(8);
      padding: 2px;
      width: vw(20);
      vertical-align: bottom;

      @include mq(lg) {
        width: 24px;
      }
    }
  }
}

.how-to-enter__button {
  text-align: center;
  padding-bottom: vw(4);

  @include mq(lg) {
    margin-top: 48px;
  }

  @include mq(xl) {
    margin-top: 40px;
  }
}

.how-to-enter__deco {
}

.how-to-enter__deco-map {
  position: absolute;
  top: vw(32);
  left: calc(50% - vw(187));
  width: vw(137);

  @include mq(md) {
    width: 180px;
    left: calc(50% - 270px);
  }

  @include mq(lg) {
    width: 345px;
    top: -28px;
    left: calc(50% - 560px);
  }

  @include mq(xl) {
    width: 460px;
    padding-right: 40px;
    padding-bottom: 60px;
    top: 0;
    left: calc(50% - 720px);
  }
}

.how-to-enter__deco-cat1 {
  position: absolute;
  top: min(32px, 8.5333333333vw);
  right: calc(50% - vw(163));
  width: vw(105);

  @include mq(lg) {
    top: 6px;
    width: 238px;
    right: calc(50% - 438px);
  }

  @include mq(xl) {
    top: 34px;
    right: calc(50% - 525px);
  }
}

.how-to-enter__deco-cat2 {
  position: absolute;
  top: min(37px, 8.5333333333vw);
  right: calc(50% - vw(218));
  width: vw(94);
  z-index: 3;

  @include mq(lg) {
    top: 16px;
    width: 214px;
    right: calc(50% - 564px);
  }

  @include mq(xl) {
    top: 44px;
    right: calc(50% - 651px);
  }
}

.how-to-enter__deco-pawpads1 {
  position: absolute;
  top: vw(582);
  left: calc(50% - vw(167));
  width: vw(55);

  @include mq(md) {
    left: calc(50% - 230px);
  }

  @include mq(lg) {
    top: auto;
    bottom: 40px;
    left: calc(50% - 50vw);
    width: 70px;
  }

  @include mq(xl) {
    left: calc(50% - 50vw + 36px);
    width: 100px;
  }
}

.how-to-enter__deco-pawpads2 {
  position: absolute;
  top: vw(106);
  right: calc(50% - vw(167));
  width: vw(55);

  @include mq(md) {
    right: calc(50% - 230px);
  }

  @include mq(lg) {
    top: 180px;
    width: 70px;
    right: calc(50% - 50vw);
  }

  @include mq(xl) {
    top: 208px;
    width: 100px;
    right: calc(50% - 50vw + 36px);
  }
}

.how-to-enter__deco-pawpads3 {
  position: absolute;
  top: vw(912);
  right: calc(50% - vw(167));
  width: vw(55);

  @include mq(md) {
    right: calc(50% - 230px);
  }
  @include mq(lg) {
    display: none;
  }
}

.prizes {
  margin-top: vw(120);
}

.prizes__inner {
  background-color: #fff;
  width: 100%;
  border-radius: 24px;
  position: relative;
  padding-top: vw(60);
}

.prizes__contents {
}

.prizes__deco-triangle-l {
}

.prizes__deco-triangle-r {
}

.prizes-heading {
  position: absolute;
  top: vw(-83);
  left: 50%;
  transform: translateX(-50%);
  padding-top: vw(15);
  width: vw(237);
  height: vw(83);
  background: url(../img/pr-deco.png) no-repeat center center / contain;
  z-index: 2;
}

.prizes-heading__deco {
}

.prizes__lead {
  text-align: center;
  margin-inline: auto;
}

.prizes__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: vw(15);
  margin-top: vw(48);

  .prize-card:nth-child(3),
  .prize-card:nth-child(4) {
    margin-top: vw(24);
  }

  .prize-card:last-child {
    grid-column: 1/ -1;
    justify-self: center;
    width: calc(50% - vw(8));
    margin-top: vw(24);
  }
}

.prize-card {
  position: relative;
}

.prize-card__button {
  border-radius: 8px;
  overflow: hidden;
}

.prize-card__button:hover .prize-card__photo img {
  transform: scale(1.1);
}

.js-modal-open {
}

.prize-card__badge {
  position: absolute;
  top: vw(-24);
  left: 50%;
  transform: translateX(-50%);
  width: vw(48);
  z-index: 2;
}

.prize-card__photo {
  overflow: hidden;

  img {
    width: 100%;
    height: vw(140);
    object-fit: cover;
    transition: transform 0.3s;
  }
}

.prize-card__name {
  background: #F5F5F5;
  height: vw(56);
}

.prize-card__zoom {
  position: absolute;
  right: vw(8);
  bottom: vw(8);
}

.prize-modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  &.is-open {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.prize-modal__content {
  background: #fff;
  border-radius: vw(24);
  width: vw(336);
  max-width: calc(100% - vw(20));
  height: vw(480);
  padding-bottom: vw(56);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.prize-modal__photo {
  width: 100%;
  height: vw(210);

  img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
  }
}

.prize-modal__title {
  font-size: 16px;
  font-weight: 700;
  margin-top: vw(39);
}

.prize-modal__text {
  margin-top: vw(12);
}

.js-modal-close {
  margin-top: vw(16);
}

.prizes__button {
}

.prizes__bg {
}
